OJP/OJP_Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.vdv.de/ojp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.vdv.de/ojp" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>OJP/OJP_Common.xsd - Supporting definitions of common structures</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.siri.org.uk/siri" schemaLocation="../siri/xsd/siri_model/siri_all.xsd"/>
	<xs:include schemaLocation="OJP_All.xsd"/>
	<xs:simpleType name="ObjectIdType">
		<xs:annotation>
			<xs:documentation>Type for identifier of a NeTEx Object.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>========================================== General ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="OJPError" type="OJPErrorStructure" substitutionGroup="siri:OtherError">
		<xs:annotation>
			<xs:documentation>Error: All OJP related errors.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OJPErrorStructure">
		<xs:annotation>
			<xs:documentation>Type for Error: OJP Error.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="siri:OtherErrorStructure">
				<xs:sequence>
					<xs:element ref="ErrorType"/>
					<xs:group ref="ProblemDetailGroup" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ProblemDetailGroup</xs:documentation>
						</xs:annotation>
					</xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ErrorType" type="xs:string" abstract="true"/>
	<xs:group name="ProblemDetailGroup">
		<xs:annotation>
			<xs:documentation>Detailed description of the problem.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Details" type="InternationalTextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Explanation of the problem.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LogData" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additional log data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="PrivateCodeStructure">
		<xs:annotation>
			<xs:documentation>Code within scope of a private referential system</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="System" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>Code of the foreign referential system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>Object code within this private/foreign system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinearShapeStructure">
		<xs:annotation>
			<xs:documentation>An oriented correspondence from one LINK or ROUTE of a source layer, onto an entity in a target layer: e.g., LINK SEQUENCE. As OJP is reduced in relation to NeTEx, we use a simple general structure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="siri:LocationStructure" minOccurs="2" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ordered list of locations representing the geometry of the link or route.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Percentage">
		<xs:annotation>
			<xs:documentation>A percentage value between 0 and 100</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.0"/>
			<xs:maxInclusive value="100.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AreaStructure">
		<xs:annotation>
			<xs:documentation>Area described as a polygon.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Points" type="siri:LocationStructure" minOccurs="3" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ordered list of geographic locations describing the polygon of the area.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== Participants ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="ParticipantRef" type="siri:ParticipantRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Participant ([equivalent of PARTICIPANT in SIRI] IT system that is participating in a communication with other participant(s))</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>========================================== Operators ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="OperatorRef" type="siri:OperatorRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an Operator ([TMv6] company  providing public transport services.) </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OperatorRefs_RelStructure">
		<xs:sequence>
			<xs:element name="OperatorRef" type="siri:OperatorRefStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperatorFilterStructure">
		<xs:annotation>
			<xs:documentation>Filter for in/exclusion of transport operators.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Exclude" type="xs:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether operators in list are to include or exclude from search. Default is exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorRef" type="siri:OperatorRefStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to transport operator</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== ProductCategories ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="ProductCategoryRef" type="siri:ProductCategoryRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a product category. Product categories should be defined once and used uniformly in all channels (e.g., NeTEx, SIRI, OJP).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>========================================= Lines ======================================</xs:documentation>
	</xs:annotation>
	<xs:complexType name="LineDirectionFilterStructure">
		<xs:annotation>
			<xs:documentation>Filter for in/exclusion of lines (and directions).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="siri:LineDirectionStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to a GROUP of DIRECTIONs of the ROUTEs belonging to the same LINE created for the purpose of filtering and organising timetables.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Exclude" type="xs:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether lines in list are to include or exclude from search. Default is exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== Journeys ==========================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="JourneyCodeType">
		<xs:annotation>
			<xs:documentation>Identifier of a Journey</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>
	<xs:complexType name="JourneyRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Journey</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="JourneyCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="JourneyRef" type="JourneyRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Journey</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:group name="DatedJourneyRefGroup">
		<xs:annotation>
			<xs:documentation>Reference to a DATED VEHICLE JOURNEY (Reference to a journey on a specific operating day).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="JourneyRef"/>
			<xs:element ref="OperatingDayRef"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="DatedTrainNumberRefGroup">
		<xs:annotation>
			<xs:documentation>Reference to a TRAIN NUMBER of an OPERATOR at a given OPERATING DAY.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainNumber" type="xs:normalizedString"/>
			<xs:element name="OperatorRef" type="siri:OperatorRefStructure"/>
			<xs:element ref="OperatingDayRef"/>
		</xs:sequence>
	</xs:group>
	<xs:annotation>
		<xs:documentation>========================================== Vehicles ==========================================</xs:documentation>
	</xs:annotation>
	<xs:group name="TimedVehicleRefGroup">
		<xs:annotation>
			<xs:documentation>Reference to a vehicle for a specific point in time.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="siri:VehicleRef">
				<xs:annotation>
					<xs:documentation>Reference to vehicle.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeOfOperation" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Time stamp when the vehicle is operating. In most use cases equal to "now".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="VehicleFilterStructure">
		<xs:annotation>
			<xs:documentation>Filter for Vehicles</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Exclude" type="xs:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether to include or exclude given VehicleRefs and TRAIN NUMBERS in the list from the search. Default is exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleRef" type="siri:VehicleRefStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to VEHICLE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainNumber" type="xs:normalizedString" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>TRAIN NUMBERs</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== Sharing Services ==========================================</xs:documentation>
	</xs:annotation>
	<xs:group name="AlternativeServiceUsageGroup">
		<xs:annotation>
			<xs:documentation>Usage parameters of a sharing service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TimeBufferBefore" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Typical time a user will need  to check in and unlock the vehicle.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeBufferAfter" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Typical time a user will need  to lock the vehicle and check out.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="AlternativeServiceStructure">
		<xs:annotation>
			<xs:documentation>Service that provides shared vehicles (The Transmodel MODE OF OPERATION is VEHICLE SHARING; other related Transmodel concepts: ALTERNATIVE MODE LEG.SINGLE JOURNEY.COMMON.VEHICLE SERVICE.TRANSPORT ORGANISATION).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- the PERSONAL MODE on which the Service bases is already defined in the Service element -->
			<xs:element name="OperatorRef" type="siri:OperatorRefStructure">
				<xs:annotation>
					<xs:documentation>Identifier of the operator of the sharing service </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Public name of the service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="AlternativeServiceUsageGroup" minOccurs="0"/>
			<xs:element name="InfoUrl" type="WebLinkStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Link to the web page providing more details on the service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Restricted" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This flag is set if the service can only be used in a restricted way. For example, a specific ACCESS MODE is required (e.g., dragLift) or the LINE is only made available to certain passenger groups (e.g., school buses, hotel shuttles).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RestrictionNote" type="InternationalTextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information about the restriction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== Owners ==========================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="OwnerCodeType">
		<xs:annotation>
			<xs:documentation>identifier of ORGANISATION with ownership as the RESPONSIBILITY ROLE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>
	<xs:complexType name="OwnerRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an ORGANISATION with ownership as the RESPONSIBILITY ROLE</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="OwnerCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OwnerRef" type="OwnerRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an  ORGANISATION with ownership as the RESPONSIBILITY ROLE</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>========================================== Operating Days ==========================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="OperatingDayCodeType">
		<xs:annotation>
			<xs:documentation>Identifier of an Operating Day</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>
	<xs:complexType name="OperatingDayRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an Operating Day</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="OperatingDayCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OperatingDayRef" type="OperatingDayRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an Operating Day</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OperatingDaysStructure">
		<xs:annotation>
			<xs:documentation> [TMv6] day of public transport operation of which the characteristics are defined in a specific SERVICE CALENDAR and which may last more than 24 hours. This is useful, when the trip can be made during several days. Often users search in "general" without setting a date and then refine with the actual date. By using OperatingDaysStructure the result can directly be reused without an additional OJPTripRequest.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="From" type="xs:date">
				<xs:annotation>
					<xs:documentation>Start date of period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="To" type="xs:date">
				<xs:annotation>
					<xs:documentation>End date of period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pattern" type="ValidDayBitType">
				<xs:annotation>
					<xs:documentation>Bit pattern for operating days between start date and end date. The length of the pattern is equal to the number of days from start date to end date. A bit value of "1" indicates that an event happens on the day that is represented by the bit position.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="OperatingDaysGroup">
		<xs:annotation>
			<xs:documentation>Coded as bit pattern</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatingDays" type="OperatingDaysStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bit string definition of operating days.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingDaysDescription" type="InternationalTextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Textual description of the operation days, e.g., "Monday to Friday" or "not on holidays".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="WeekdayTimePeriodStructure">
		<xs:annotation>
			<xs:documentation>[a specialisation of TIME BAND in TMv6] aggregation of TIME BAND and DAY OF WEEK (Time period on a weekday).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Weekday" type="WeekdayTypeEnumeration" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>[a specialisation of DAY OF WEEK in TMv6] enumeration of individual the seven DAYs OF WEEK, along with public holidays</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>Start time of period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Time duration of period.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="WeekdayTypeEnumeration">
		<xs:annotation>
			<xs:documentation>[a specialisation of DAY OF WEEK in TMv6] enumeration of individual the seven DAYs OF WEEK, along with public holidays </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Sunday"/>
			<xs:enumeration value="Monday"/>
			<xs:enumeration value="Tuesday"/>
			<xs:enumeration value="Wednesday"/>
			<xs:enumeration value="Thursday"/>
			<xs:enumeration value="Friday"/>
			<xs:enumeration value="Saturday"/>
			<xs:enumeration value="PublicHoliday"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>========================================== General Attributes ==========================================</xs:documentation>
	</xs:annotation>
	<xs:complexType name="GeneralAttributeStructure">
		<xs:annotation>
			<xs:documentation>Structured attribute classification with associated text. If URL is given, it refers to the whole attribute text.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UserText" type="InternationalTextStructure">
				<xs:annotation>
					<xs:documentation>Text of the attribute to be shown to the user.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>Internal code of the attribute. Can be used for detection of double occurrences.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Key" type="xs:NMTOKEN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Key if the attribute is used as a key/value pair.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Value if the attribute is used as a key/value pair.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Facility" type="siri:AllFacilitiesFeatureStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Facilities associated with this attribute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mandatory" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines whether the attribute has to be shown to the user.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Importance" type="PercentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Importance of the attribute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="WebLinkGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== Sustainability ==========================================</xs:documentation>
	</xs:annotation>
	<xs:group name="SustainabilityGroup">
		<xs:annotation>
			<xs:documentation>Elements about sustainability. Primarily for TRIPs and LEGs.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmissionCO2" type="EmissionCO2Structure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Estimation of CO2 emissions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="EmissionCO2Structure">
		<xs:annotation>
			<xs:documentation>Estimation of CO2 emissions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KilogramPerPersonKm">
				<xs:annotation>
					<xs:documentation>Kilograms of CO2 emission by person and by kilometre.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ConfidenceLevel" type="Percentage" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Confidence level of the emission value in percent.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
