OJP/OJP_ModesSupport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.vdv.de/ojp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.vdv.de/ojp" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>OJP/OJP_ModesSupport.xsd - Supporting definitions for the classification of modes of transport</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.siri.org.uk/siri" schemaLocation="../siri/xsd/siri_model/siri_all.xsd"/>
	<xs:include schemaLocation="OJP_All.xsd"/>
	<xs:annotation>
		<xs:documentation>========================================== Individual Modes ==========================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="IndividualModesOfOperationEnumeration">
		<xs:annotation>
			<xs:documentation>modes which an individual powers themselves (such as walk, cycle)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="walk"/>
			<xs:enumeration value="cycle"/>
			<xs:enumeration value="self-drive-car"/>
			<xs:enumeration value="others-drive-car"/>
			<xs:enumeration value="vehicleHire">
				<xs:annotation>
					<xs:documentation>One of the MODES OF OPERATIOn from NeTEX rental.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="vehicleLease">
				<xs:annotation>
					<xs:documentation>One of the MODES OF OPERATIOn from NeTEX rental.</xs:documentation>
				</xs:annotation>			
			</xs:enumeration>			
			<xs:enumeration value="motorcycle"/>
			<xs:enumeration value="truck"/>
			<xs:enumeration value="scooter"/>
			<xs:enumeration value="carSharingClub">
				<xs:annotation>
					<xs:documentation>Car sharing club. MODES OF OPERATIOn from NeTEx sharing.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="peerToPeerCarSharing">
				<xs:annotation>
					<xs:documentation>Sharing between peers. MODES OF OPERATIOn from NeTEx sharing.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="vehicleSharing">
				<xs:annotation>
					<xs:documentation>Non-car (bicycles, scooters and the like) sharing. MODES OF OPERATIOn from NeTEx sharing.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ride-pool-car"/>
			<xs:enumeration value="car-sharing"/>
			<xs:enumeration value="cycle-sharing"/>
			<xs:enumeration value="scooter-sharing"/>
			<xs:enumeration value="park-ride-car"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PrivateModesEnumeration">
		<xs:annotation>
			<xs:documentation>MODE OF OPERATION offered by private individuals (contains the values as defined by NeTEx). In the end these are all different forms of car pooling</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="taxi"/>
			<xs:enumeration value="appBookedTaxi"/>
			<xs:enumeration value="sharedTaxi"/>
			<xs:enumeration value="prebookedTaxi"/>
			<xs:enumeration value="chauffeuredVehicle"/>
			<xs:enumeration value="dynamicCarPooling"/>
			<xs:enumeration value="longDistanceCarPooling"/>
			<xs:enumeration value="vehiclePooling"/>
			<xs:enumeration value="schoolBus"/>
			<xs:enumeration value="companyShuttle"/>
			<xs:enumeration value="hotelShuttle"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IndividualTransportOptionsStructure">
		<xs:annotation>
			<xs:documentation>Individual modes and their usage limits as stated by the passenger (TRIP ACCESS CONSTRAINT).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Mode" type="IndividualModesOfOperationEnumeration">
				<xs:annotation>
					<xs:documentation>Mode of individual transport.	When mode self-drive-car is used the connection to another mode will need a parking space for the car. Thus, this mode is a generalisation of all park and ride use cases. The mode others-drive-car, however, only needs a place to let a person be set down from a car.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxDistance" type="siri:DistanceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum distance in meters. If given, it restricts the maximum distance of routes with the given mode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxDuration" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum duration. If given, it restricts the maximum time of routes with the given mode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinDistance" type="siri:DistanceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Minimum distance in meters. If given, it restricts the minimum distance of routes with the given mode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinDuration" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Minimum duration. If given, it restricts the minimum time of routes with the given mode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Speed" type="OpenPercentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Relative speed in percent. If given slows the standard speed (below 100) or fasten it (above 100).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalTime" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additional time added to the actual traveling time needed to use a specific mode.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ContinuousModesOfOperationEnumeration">
		<xs:annotation>
			<xs:documentation>Types of MODES OF OPERATION  that  run at any time without a timetable and that are not classic flexible services.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="walk"/>
			<xs:enumeration value="commuterCarPooling">
				<xs:annotation>
					<xs:documentation>MODE OF OPERATION from NeTEX personal.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ownCar">
				<xs:annotation>
					<xs:documentation>MODE OF OPERATION from NeTEX personal.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="privateLift">
				<xs:annotation>
					<xs:documentation>MODE OF OPERATION from NeTEX personal.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimedModesOfOperationEnumeration">
		<xs:annotation>
			<xs:documentation>Types of MODES OF OPERATION  are scheduled, classic and also flexible. From NeTEx.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="scheduledService"/>
			<xs:enumeration value="eventBasedService"/>
			<xs:enumeration value="flexibleRoute"/>
			<xs:enumeration value="flexibleArea"/> 
			<xs:enumeration value="demandResponsive"/> 			
		</xs:restriction>
	</xs:simpleType>	
	<xs:annotation>
		<xs:documentation>========================================== Interchange Modes ==========================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="TransferModesEnumeration">
		<xs:annotation>
			<xs:documentation>MODEs dedicated to peform TRANSFERs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="walk"/>
			<xs:enumeration value="parkAndRide"/>
			<xs:enumeration value="bikeAndRide"/>
			<xs:enumeration value="carHire"/>
			<xs:enumeration value="bikeHire"/>
			<xs:enumeration value="protectedConnection"/>
			<xs:enumeration value="guaranteedConnection"/>
			<xs:enumeration value="remainInVehicle"/>
			<xs:enumeration value="changeWithinVehicle"/>
			<xs:enumeration value="checkIn"/>
			<xs:enumeration value="checkOut"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>========================================== Public Transport Modes ==========================================</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ModeStructure">
		<xs:annotation>
			<xs:documentation>[a specialisation of MODE in TMv6] an extended range of VEHICLE MODEs, aggregating them with some SUBMODEs</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ModeGroup"/>
			<xs:element name="Name" type="InternationalTextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the mode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortName" type="InternationalTextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Short name or acronym of the mode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="InternationalTextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additional text that further describes the mode.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="ModeGroup">
		<xs:annotation>
			<xs:documentation>Elements for a Transport Mode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PtMode" type="siri:VehicleModesOfTransportEnumeration">
				<xs:annotation>
					<xs:documentation>Categorisation of mode </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="siri:PtModeChoiceGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:annotation>
		<xs:documentation>========================================== Filters ==========================================</xs:documentation>
	</xs:annotation>
	<xs:complexType name="PtModeFilterStructure">
		<xs:annotation>
			<xs:documentation>List of public transport modes ([from SIRI] mode of public transport service, corresponds to VEHICLE MODE) to exclude or include.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Exclude" type="xs:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether VEHICLE MODEs in list are to be excluded or included from search. Default is to exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PtMode" type="siri:VehicleModesOfTransportEnumeration" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of PT Transport modes to include/exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="siri:PtModeChoiceGroup" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrivateModeFilterStructure">
		<xs:annotation>
			<xs:documentation>List of private mobility offers to include or exclude.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Exclude" type="xs:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether modes in list are to include or exclude from search. Default is exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrivateMode" type="PrivateModesEnumeration" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of private mobility offers to include/exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
