OJP/OJP_Availability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.vdv.de/ojp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.vdv.de/ojp" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>OJP/OJP_Availability.xsd - Request and response definitions for availability of tickets and services on a journey leg.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.siri.org.uk/siri" schemaLocation="../siri/xsd/siri_model/siri_all.xsd"/>
	<xs:include schemaLocation="OJP_All.xsd"/>
	<xs:annotation>
		<xs:documentation>========================================== AvailabilityRequest ==========================================</xs:documentation>
	</xs:annotation>
	<xs:group name="AvailabilityRequestGroup">
		<xs:annotation>
			<xs:documentation>Availability request. Used to check the availability of a MOBILITY SERVICE, a VEHICLE, SERVICE JOURNEY or SINGLE JOURNEY. Be aware that usually after the response arrives, the rest of the TRIP must be recalculated. As especially pick-up and drop-off locations may have shifted from where they were in the previously calculated TRIP.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>A choice as we assume that here future extensions may occur (non-public transport).</xs:documentation>
				</xs:annotation>
				<xs:element name="PublicTransport" type="BookingPTLegStructure">
					<xs:annotation>
						<xs:documentation>Definition of the journey leg to be covered by public transport. Other mobility services can be added later.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="MobilityUser" type="BookingUserStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Passenger(s) for whom the service needs to be booked, one MobilityUser per passenger.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="MinMaxTimeBandGroup" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element is only used to transmit restrictions from the earlier/or later trip part. The possible trip is the result of a previous OJPTripRequest. The desired time for the public transport is set within PublicTransport element.</xs:documentation>
				</xs:annotation>
			</xs:group>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:annotation>
		<xs:documentation>========================================== Additional Declarations ==========================================</xs:documentation>
	</xs:annotation>
	<xs:complexType name="BookingPTLegStructure">
		<xs:annotation>
			<xs:documentation>Journey leg by public transport.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PickUpLocation" type="ProvisionedCallAtPlaceStructure">
				<xs:annotation>
					<xs:documentation>Location where passenger intends to enter the service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SetDownLocation" type="ProvisionedCallAtPlaceStructure">
				<xs:annotation>
					<xs:documentation>Location where passenger intends to leave the service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="ServiceGroup" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Properties of a service (line and direction) by which the availability is being checked: attributes of ContinuousServiceStructure or DatedJourneyStructure.</xs:documentation>
				</xs:annotation>
			</xs:group>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BookingUserStructure">
		<xs:annotation>
			<xs:documentation>Passenger(s) for whom the service needs to be booked.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Age" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Age of the passenger on the day of travel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="PassengerProfileGroup"/>
			<xs:group ref="PassengerRequirementsGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProvisionedCallAtPlaceStructure">
		<xs:annotation>
			<xs:documentation>Provisioned vehicle call at a general location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="DatedJourneyRefGroup" minOccurs="0"/>
			<xs:element name="CallPlace" type="PlaceRefStructure">
				<xs:annotation>
					<xs:documentation>More general location for a call than stop points. May be used with flexible services or "Area Dial-A-Ride".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceArrival" type="ServiceArrivalStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Arrival times of the service at this stop.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceDeparture" type="ServiceDepartureStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Departure times of the service at this stop.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="StopCallStatusGroup" minOccurs="0"/>
		</xs:sequence>
		<!-- Adapted from Trias_JourneySupport.xsd -->
	</xs:complexType>
	<xs:group name="MinMaxTimeBandGroup">
		<xs:annotation>
			<xs:documentation>Earliest possible departure time from a start location and latest possible arrival at a different destination location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EarliestDepartureTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Earliest possible departure time from start location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LatestArrivalTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Latest possible arrival time at destination location.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:annotation>
		<xs:documentation>========================================== From Trias_JourneySupport.xsd ==========================================</xs:documentation>
	</xs:annotation>
	<xs:group name="PassengerProfileGroup">
		<xs:annotation>
			<xs:documentation>Profile of the passenger's abilities.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WheelchairUser" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Passenger uses a wheelchair. Default is FALSE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WalkingFrame" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Passenger uses a walking frame. Default is FALSE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WalkingStick" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Passenger uses a walking stick. Default is FALSE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WalkingImpaired" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Passenger is (maybe temporarily) walking impaired. Default is FALSE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pram" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Passenger has a pram with him/her. Default is FALSE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HeavyLuggage" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Passenger has got heavy luggage. Default is FALSE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisuallyImpaired" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Passenger is visually impaired.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HearingImpaired" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Passenger is hearing impaired.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReadingImpaired" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Passenger is reading impaired.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="PassengerRequirementsGroup">
		<xs:annotation>
			<xs:documentation>Description of passenger's accessibility requirements</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="TripMobilityFilterGroup"/>
			<xs:group ref="DriverAssistanceGroup"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="DriverAssistanceGroup">
		<xs:annotation>
			<xs:documentation>Requirements for the driver/staff to assist the passenger when boarding/alighting.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BoardingAssistance" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether assistance is required for boarding. Could be offered by the driver or station staff. Default is FALSE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlightingAssistance" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether assistance is required for alighting. Could be offered by the driver or station staff. Default is FALSE.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:annotation>
		<xs:documentation>========================================== AvailabilityResponse ==========================================</xs:documentation>
	</xs:annotation>
	<xs:group name="AvailabilityResponseGroup">
		<xs:annotation>
			<xs:documentation>Availability response.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AvailabilityResponseContext" type="ResponseContextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Context to hold availability response objects that occur frequently.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailabilityResult" type="AvailabilityResultStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indication of the availability of the requested service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:annotation>
		<xs:documentation>========================================== Additional declarations ==========================================</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AvailabilityResultStructure">
		<xs:annotation>
			<xs:documentation>Availability result structure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ErrorCondition" type="OJPErrorStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Problems related to this AVAILABILITY result.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="PublicTransport" type="BookingPTLegStructure">
					<xs:annotation>
						<xs:documentation>Definition of the journey leg that should be made by public transport. Other mobility services may be added later.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:group ref="BookableTicketAndServiceInformationGroup"/>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>==================== ticket and service information =====================</xs:documentation>
	</xs:annotation>
	<xs:group name="BookableTicketAndServiceInformationGroup">
		<xs:annotation>
			<xs:documentation>Lists those tickets or surcharges and service characteristics such as the transportation of wheelchairs, prams, luggage etc. or the provision of required child seats or booster seats that are offered in the trips transport company to be booked for the trip.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BookableTicket" type="FareProductStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Sequence of bookable tickets or surcharges for this part of the trip. If ticket price is zero: an already purchased/virtual ticket of this type presented to the driver would be accepted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BookableServiceItem" type="BookableServiceItemStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Sequence of bookable service items for this part of the trip.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="BookableServiceItemStructure">
		<xs:annotation>
			<xs:documentation>Possible service items that can be booked in the actual booking system (defined by the traffic company of charge). Only those elements with value greater 0 are bookable. The indicated capacity corresponds to the maximum number that can be booked in one booking. This number does not have to be available for the specific booking and may result in booking failure. Caution: list can vary widely from one traffic company to another.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="BookableServiceItemTypeEnumeration">
				<xs:annotation>
					<xs:documentation>The type of bookable service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxBookableCapacity" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Maximum number of service items that can be booked in one booking transaction. Default is 0.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BookableServiceItemTypeEnumeration">
		<xs:annotation>
			<xs:documentation>Types of bookable service items.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="wheelchair">
				<xs:annotation>
					<xs:documentation>Space for a wheelchair.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="motorisedWheelchair">
				<xs:annotation>
					<xs:documentation>Space for a motorised wheelchair.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="foldableWheelchair">
				<xs:annotation>
					<xs:documentation>Space for storing a foldable wheelchair.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="walkingFrame">
				<xs:annotation>
					<xs:documentation>Place suitable for a person with a walking frame.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="pram">
				<xs:annotation>
					<xs:documentation>Space for a pram or pushchair.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="heavyLuggage">
				<xs:annotation>
					<xs:documentation>Space for storing heavy luggage.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="childSeatTakenAlong">
				<xs:annotation>
					<xs:documentation>Seat suitable for attaching a child seat taken along by the passengers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="childSeatSupplied">
				<xs:annotation>
					<xs:documentation>Child seat provided in the vehicle.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="babyCarrierTakenAlong">
				<xs:annotation>
					<xs:documentation>Seat suitable for attaching a baby carrier taken along by the passengers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="babyCarrierSupplied">
				<xs:annotation>
					<xs:documentation>Baby carrier provided in the vehicle.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="seatBoosterSupplied">
				<xs:annotation>
					<xs:documentation>Seat booster provided in the vehicle.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bicycle">
				<xs:annotation>
					<xs:documentation>Space for a bicycle.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="guideDog">
				<xs:annotation>
					<xs:documentation>Place suitable when accompanied by a guide dog.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="dog">
				<xs:annotation>
					<xs:documentation>Place suitable when accompanied by a dog.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="boardingAssistance">
				<xs:annotation>
					<xs:documentation>Assistance for boarding.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="alightingAssistance">
				<xs:annotation>
					<xs:documentation>Assistance for alighting.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="onboardAssistance">
				<xs:annotation>
					<xs:documentation>Assistance available on board, during the journey.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="unassistedMinorAssistance">
				<xs:annotation>
					<xs:documentation>Assistance for a minor travelling alone.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>========================================== Problems ==========================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="AvailabilityProblemTypeEnumeration">
		<xs:annotation>
			<xs:documentation>Types of problems that may be returned in responses to AVAILABILITY requests.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AVAILABILITY_NOSERVICEFOUND">
				<xs:annotation>
					<xs:documentation>No SERVICE (VEHICLE JOURNEY or VEHICLE) could be found for this request.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AVAILABILITY_LOCATIONUNSERVED">
				<xs:annotation>
					<xs:documentation>At the locations (address, stop, etc.) for which the availability has been requested, there is no public transport service at all. E.g. outside the area.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AVAILABILITY_LOCATIONUNKNOWN">
				<xs:annotation>
					<xs:documentation>The location (address, stop, etc.) for which availability was requested is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AVAILABILITY_OUTSIDERULES">
				<xs:annotation>
					<xs:documentation>The vehicle is not available due to existing rules like operating hours or not competing against an existing public transport line. In the details of the problem there should be information indicating which rules were violated: e.g., The desired MOBILITY SERVICE can't be provided because there exists a regular line for this TRIP.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AVAILABILITY_SERVICEDISRUPTED">
				<xs:annotation>
					<xs:documentation>The MOBILITY SERVICE is disrupted. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AVAILABILITY_UNAVAILABLE">
				<xs:annotation>
					<xs:documentation>There is no VEHICLE available at the current time.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AVAILABILITY_OTHER">
				<xs:annotation>
					<xs:documentation>A problem has occurred that does not have a specific problem type.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AvailabilityProblemType" type="AvailabilityProblemTypeEnumeration" substitutionGroup="ErrorType"/>
</xs:schema>
