OJP/OJP_Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.vdv.de/ojp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.vdv.de/ojp" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>OJP/OJP_Common.xsd - Supporting definitions of common structures</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.siri.org.uk/siri" schemaLocation="../siri/siri_model/siri_all-v2.0.xsd"/>
	<xs:include schemaLocation="OJP_All.xsd"/>
	<xs:annotation>
		<xs:documentation>========================================== General ==========================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="ProblemTypeEnumeration">
		<xs:annotation>
			<xs:documentation>All error codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OJPGENERIC_REQUESTNOTSUPPORTED">
				<xs:annotation>
					<xs:documentation>The server does not support the specific request (eg: MultiPointTripRequest).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OJPGENERIC_FEATURENOTSUPPORTED">
				<xs:annotation>
					<xs:documentation>The server does not support the requested feature (eg: parameter NotVia in TripRequest).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OJPGENERIC_LANGUAGENOTSUPPORTED">
				<xs:annotation>
					<xs:documentation>For the display of texts within the result, the server does not support (at least within the context of this request) the language required by the requestor.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OJPGENERIC_EXCEPTIONFROMREQUESTEDLANGUAGE">
				<xs:annotation>
					<xs:documentation>For the display of texts within the result, the server does not support the language required by the requestor for all of the occurring text elements.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OJPGENERIC_DATAFRAMEREFNOTAVAILABLE">
				<xs:annotation>
					<xs:documentation>The server cannot provide the data frame (data version) required by the requestor.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FARES_OUTOFAREA">
				<xs:annotation>
					<xs:documentation>The trip planning has found a route that leaves the area of the fare authority.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FARES_JOURNEYNOTPERMITTED">
				<xs:annotation>
					<xs:documentation>The trip planning result suggest a service which is not permitted by the fare authority.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FARES_ADDITIONALCHARGES">
				<xs:annotation>
					<xs:documentation>Passengers may be charged additional fees (eg: for road tolls or seat reservation).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FARES_ADDITIONALTICKETS">
				<xs:annotation>
					<xs:documentation>Additional tickets may be necessary because only parts of the passenger trip could be covered.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FARES_ROUTENOTFEASIBLE">
				<xs:annotation>
					<xs:documentation>Fare calculation is not possible because the suggested trip is not in compliance with the fare regulations (eg: because of round trips, TripLegs that go forth and return or exceeding the maximal total trip duration).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FARES_ALREADYCOVERED">
				<xs:annotation>
					<xs:documentation>The ticket that has been specified in the request is valid for the suggested trip (or parts of it as defined by TripLegRange).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FARES_DATEOUTOFRANGE">
				<xs:annotation>
					<xs:documentation>The fare request cannot be processed because there is no information available for the requested date.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FARES_STOPPOINTUNKNOWN">
				<xs:annotation>
					<xs:documentation>The fare request cannot be processed because the requested stop is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOCATION_NORESULTS">
				<xs:annotation>
					<xs:documentation>No location objects could be found that match the input data.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOCATION_UNSUPPORTEDTYPE">
				<xs:annotation>
					<xs:documentation>The requested location types are not supported by the service.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOCATION_UNSUPPORTEDCOMBINATION">
				<xs:annotation>
					<xs:documentation>The combination of input data (text string, coordinates, geographical restrictions) cannot be processed by the service.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOCATION_NOREFINEMENT">
				<xs:annotation>
					<xs:documentation>The given location object could not be refined.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOCATION_USAGEIGNORED">
				<xs:annotation>
					<xs:documentation>The usage type has been ignored.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOCATION_UNSUPPORTEDPTMODES">
				<xs:annotation>
					<xs:documentation>The service does not support any restrictions by transport modes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOCATION_UNSUPPORTEDLOCALITY">
				<xs:annotation>
					<xs:documentation>The service does not support any restrictions by localities.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXCHANGEPOINTS_NORESULTS">
				<xs:annotation>
					<xs:documentation>No exchange points could be found that match the query criteria.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXCHANGEPOINTS _UNKNOWNDESTINATION">
				<xs:annotation>
					<xs:documentation>The destination system given in the request parameters is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXCHANGEPOINTS _UNKNOWNADJACENTSYSTEM">
				<xs:annotation>
					<xs:documentation>One or more of the adjacent systems given in the request parameters are unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_NOTRIPFOUND">
				<xs:annotation>
					<xs:documentation>No trip plan could be found that meets all the parameters as they have been set by the user (start and end locations, departure/arrival time and further options possibly set by the user).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_ORIGINUNKNOWN">
				<xs:annotation>
					<xs:documentation>The start location (address, stop place, …) for the requested trip is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_DESTINATIONUNKNOWN">
				<xs:annotation>
					<xs:documentation>The end location (address, stop place, …) for the requested trip is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_VIAUNKNOWN">
				<xs:annotation>
					<xs:documentation>One of the via points is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_NOTVIAUNKNOWN">
				<xs:annotation>
					<xs:documentation>One of the not-via points is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_NOCHANGEATUNKNOWN">
				<xs:annotation>
					<xs:documentation>One of the no-change-at stations is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_NOORIGIN">
				<xs:annotation>
					<xs:documentation>No start location has been defined for the trip.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_NODESTINATION">
				<xs:annotation>
					<xs:documentation>No end location has been defined for the trip.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_ORIGINDESTINATIONIDENTICAL">
				<xs:annotation>
					<xs:documentation>Start and end of the trip are identical.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_DATETIMEERROR">
				<xs:annotation>
					<xs:documentation>The requested date and/or time do not make sense.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_DEPARTUREAFTERARRIVAL">
				<xs:annotation>
					<xs:documentation>The requested departure time at each origin locations is after the requested arrival time at any destination location.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_DATEOUTOFRANGE">
				<xs:annotation>
					<xs:documentation>There is no timetable data available for the requested date.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MULTIPOINTTRIP_NOTALLPOINTSCOVERED">
				<xs:annotation>
					<xs:documentation>In case a multi-point request with MultiPointType set to eachDestination could not be responded with a trip solution to each of the destination points. And respectively in case a multi-point request with MultiPointType set to eachOrigin could not be responded with a trip solution for each of the origin points.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MULTIPOINTTRIP_TOOMANYPOINTS">
				<xs:annotation>
					<xs:documentation>In case a multi-point request uses too many points as departure or arrival.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_ORIGINEQUIVALENT">
				<xs:annotation>
					<xs:documentation>The requested origin stop place has been replaced by an equivalent stop place.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_DESTINATIONEQUIVALENT">
				<xs:annotation>
					<xs:documentation>The requested destination stop place has been replaced by an equivalent stop place.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_VIAEQUIVALENT">
				<xs:annotation>
					<xs:documentation>One of the requested via stop places has been replaced by an equivalent stop place.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_REALTIMEINCOMPLETE">
				<xs:annotation>
					<xs:documentation>There is no realtime information available for at least one of the services within this trip result.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_ITTIMEEXTENDED">
				<xs:annotation>
					<xs:documentation>The maximum time allowed for using modes of individual transport (mostly walking or cycling) has been extended by the system because otherweise no trip could be found.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_ITMODECHANGED">
				<xs:annotation>
					<xs:documentation>The mode of individual transport specified by the user has been replaced by the system because otherwise no trip could be found. Usually this means taking a taxi instead of walking.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIP_INCONVENIENTWAITING">
				<xs:annotation>
					<xs:documentation>The trip plan in this trip result contains a long waiting time.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STOPEVENT_NOEVENTFOUND">
				<xs:annotation>
					<xs:documentation>No departure/arrival could be found within the requested period of time that meets the given restrictions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STOPEVENT_LOCATIONUNSERVED">
				<xs:annotation>
					<xs:documentation>At the locations (address, stop, etc.) for which stop events have been requested, there is no public transport service at all.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STOPEVENT_LOCATIONUNKNOWN">
				<xs:annotation>
					<xs:documentation>The location (address, stop, etc.) for which stop events were requested is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STOPEVENT_DATEOUTOFRANGE">
				<xs:annotation>
					<xs:documentation>There are no timetables available for the requested date.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STOPEVENT_LASTSERVICEOFTHISLINE">
				<xs:annotation>
					<xs:documentation>This departure/arrival event is the last one of this line for this operating day.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STOPEVENT_NOREALTIME">
				<xs:annotation>
					<xs:documentation>There is no realtime or forecast data available for this departure/arrival event.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIPINFO_JOURNEYREFUNKNOWN">
				<xs:annotation>
					<xs:documentation>The journey reference used in the request is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIPINFO_VEHICLEUNKNOWN">
				<xs:annotation>
					<xs:documentation>The vehicle reference used in the request is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIPINFO_NOJOURNEYFOUND">
				<xs:annotation>
					<xs:documentation>No matching journey could be found for the requested time and journey/vehicle identifiers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRIPINFO_NOGEOINFO">
				<xs:annotation>
					<xs:documentation>No geographic information available for this vehicle journey.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REFINE_OBJECTNOTFOUND">
				<xs:annotation>
					<xs:documentation>The object to be refined could not be found in the separate database or could not be found unequivocally.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_NOROUTEFOUND">
				<xs:annotation>
					<xs:documentation>Individual transport routes could not be found with regard to the start locations and destinations stated, the desired departure and arrival time and keeping in mind the specified parameters.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_ORIGINUNKNOWN">
				<xs:annotation>
					<xs:documentation>The specified location (address, stop etc.) for the start of the individual route is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_DESTINATIONUNKNOWN">
				<xs:annotation>
					<xs:documentation>The specified location (address, stop etc.) for the destination of the individual route is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_VIAUNKNOWN">
				<xs:annotation>
					<xs:documentation>One of the via-points specified is unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_ORIGINDESTINATIONIDENTICAL">
				<xs:annotation>
					<xs:documentation>Start and destination are identical.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_UNSUPPORTEDMODE">
				<xs:annotation>
					<xs:documentation>One of the requested individual modes is not supported.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_UNSUPPORTEDMOBILITYFILTER">
				<xs:annotation>
					<xs:documentation>One of the requested mobility filters is not supported.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_UNSUPPORTEDALGORITHM">
				<xs:annotation>
					<xs:documentation>The requested algorithm type is not supported.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_UNSUPPORTEDBAN">
				<xs:annotation>
					<xs:documentation>One of the requested ban filters (motorways, toll roads, ferries) is not supported.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_NODATETIME">
				<xs:annotation>
					<xs:documentation>Neither the departure time nor the arrival time has been stated.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_DATETIMEERROR">
				<xs:annotation>
					<xs:documentation>Date and/or time are incomprehensible.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_DEPARTUREAFTERARRIVAL">
				<xs:annotation>
					<xs:documentation>The desired departure time at all the start points is after the desired arrival time at al destination points.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_DATEOUTOFRANGE">
				<xs:annotation>
					<xs:documentation>Routing data is not available for the requested date, e.g. because the date is in the past or far into the future.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_MODEPARAMETERSIGNORED">
				<xs:annotation>
					<xs:documentation>At least one of the parameters for this individual mode has been ignored for this individual transport route.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_MOBILITYFILTERIGNORED">
				<xs:annotation>
					<xs:documentation>At least one of the mobility filters has been ignored for this individual transport route.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROUTE_BANIGNORED">
				<xs:annotation>
					<xs:documentation>At least one of the ban filters (motorways, toll roads, ferries) has been ignored for this individual transport route.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER">
				<xs:annotation>
					<xs:documentation>if the error can not be found from the list above</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProblemStructure">
		<xs:annotation>
			<xs:documentation>Structured error messages</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="ProblemTypeEnumeration">
				<xs:annotation>
					<xs:documentation>Problem type (code). OTHER, if the problem can't be found in the list
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="InternationalTextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Title of the problem situation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Detail" type="InternationalTextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Human readable explanation of the problem situation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LogData" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If additional log data is provided.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrivateCodeStructure">
		<xs:annotation>
			<xs:documentation>Code within scope of a private referential system</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="System" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>Code of the foreign referential system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>Object code within this private/foreign system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinkProjectionStructure">
		<xs:annotation>
			<xs:documentation>An oriented correspondence from one LINK of a source layer, onto an entity in a target layer: e.g. LINK SEQUENCE.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="siri:LocationStructure" minOccurs="2" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ordered list of locations representing the geogemtry of the link.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AreaStructure">
		<xs:annotation>
			<xs:documentation>Area described as a polygon.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Points" type="siri:LocationStructure" minOccurs="3" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ordered list of geographic locations describing the polygon of the area.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== Participants ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="ParticipantRef" type="siri:ParticipantRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Participant ([equivalent of PARTICIPANT in SIRI] IT system that is participating in a communication with other participant(s))</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>========================================== Operators ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="OperatorRef" type="siri:OperatorRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an Operator ([TMv6] company  providing public transport services.) </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OperatorFilterStructure">
		<xs:annotation>
			<xs:documentation>Filter for in/exclusion of transport operators.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Exclude" type="xs:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether operators in list are to include or exclude from search. Default is exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorRef" type="siri:OperatorRefStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to transport operator</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== ProductCategories ==========================================</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ProductCategoryRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a product category. As defined in NeTEx and SIRI, a product category is a classification for VEHICLE JOURNEYs to express some common properties of journeys for marketing and fare products, e.g. to identify boats that run with steam in Switzerland ("BAV")</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ProductCategoryCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ProductCategoryCodeType">
		<xs:annotation>
			<xs:documentation>Type for identifier of an product category code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>
	<xs:element name="ProductCategoryRef" type="siri:ProductCategoryRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a product category. Product categories should be defined once and used uniformly in all channels (e.g. NeTEx, SIRI, OJP)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>========================================= Lines ======================================</xs:documentation>
	</xs:annotation>
	<xs:complexType name="LineDirectionFilterStructure">
		<xs:annotation>
			<xs:documentation>Filter for in/exclusion of lines (and directions).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="siri:LineDirectionStructure" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference a GROUP of DIRECTIONs  of the ROUTEs belonging to the same LINE created  for the purpose of filtering and organising timetables..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Exclude" type="xs:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether lines in list are to include or exclude from search. Default is exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== Journeys ==========================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="JourneyCodeType">
		<xs:annotation>
			<xs:documentation>Identifier of a Journey</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>
	<xs:complexType name="JourneyRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Journey</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="JourneyCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="JourneyRef" type="JourneyRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to a Journey</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:group name="DatedJourneyRefGroup">
		<xs:annotation>
			<xs:documentation>Reference to a DATED VEHICLE JOURNEY (Reference to a journey on a specific operating day)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="JourneyRef"/>
			<xs:element ref="OperatingDayRef"/>
		</xs:sequence>
	</xs:group>
	<xs:annotation>
		<xs:documentation>========================================== Vehicles ==========================================</xs:documentation>
	</xs:annotation>
	<xs:group name="TimedVehicleRefGroup">
		<xs:annotation>
			<xs:documentation>Reference to a vehicle for a specific point in time.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="siri:VehicleRef"/>
			<xs:element name="TimeOfOperation" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Time stamp when the vehicle is operating. In most use cases equal to "now".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="VehicleFilterStructure">
		<xs:annotation>
			<xs:documentation>Filter for Vehicles</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Exclude" type="xs:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether to include or exclude given VehicleRefs and TRAIN NUMBERS in the list from the search. Default is exclude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleRef" type="siri:VehicleRefStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to VEHICLE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainNumber" type="xs:normalizedString" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>TRAIN NUMBERs</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== Sharing Services ==========================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="SharingModelEnumeration">
		<xs:annotation>
			<xs:documentation>Sharing service loan and return scheme.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="singleStationBased"/>
			<xs:enumeration value="multipleStationBased"/>
			<xs:enumeration value="nonStationBased"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="SharingServiceUsageGroup">
		<xs:annotation>
			<xs:documentation>Usage parameters of a sharing service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TimeBufferBefore" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Typical time a user will need  to check in and unlock the vehicle.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeBufferAfter" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Typical time a user will need  to lock the vehicle and check out.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="SharingServiceStructure">
		<xs:annotation>
			<xs:documentation>Service that provides shared vehicles.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatorRef" type="siri:OperatorRefStructure">
				<xs:annotation>
					<xs:documentation>Identifier of the operator of the sharing service </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Public name of the service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SharingModel" type="SharingModelEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of the sharing scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="SharingServiceUsageGroup" minOccurs="0"/>
			<xs:element name="InfoUrl" type="WebLinkStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Link to web page providing more details on service.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== Owners ==========================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="OwnerCodeType">
		<xs:annotation>
			<xs:documentation>identifier of ORGANISATION with ownership as the RESPONSIBILITY ROLE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>
	<xs:complexType name="OwnerRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an ORGANISATION with ownership as the RESPONSIBILITY ROLE</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="OwnerCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OwnerRef" type="OwnerRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an  ORGANISATION with ownership as the RESPONSIBILITY ROLE</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>========================================== Operating Days ==========================================</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="OperatingDayCodeType">
		<xs:annotation>
			<xs:documentation>Identifier of an Operating Day</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>
	<xs:complexType name="OperatingDayRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an Operating Day</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="OperatingDayCodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OperatingDayRef" type="OperatingDayRefStructure">
		<xs:annotation>
			<xs:documentation>Reference to an Operating Day</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OperatingDaysStructure">
		<xs:annotation>
			<xs:documentation> [TMv6] day of public transport operation of which the characteristics are defined in a specific SERVICE CALENDAR and which may last more than 24 hours.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="From" type="xs:date">
				<xs:annotation>
					<xs:documentation>Start date of period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="To" type="xs:date">
				<xs:annotation>
					<xs:documentation>End date of period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pattern" type="ValidDayBitType">
				<xs:annotation>
					<xs:documentation>Bit pattern for operating days between start date and end date. The length of the pattern is equal to the number of days from start date to end date. A bit value of "1" indicates that an event actually happens on the day that is represented by the bit position.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="OperatingDaysGroup">
		<xs:annotation>
			<xs:documentation>Coded as bit pattern</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatingDays" type="OperatingDaysStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bit string definition of operating days.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingDaysDescription" type="InternationalTextStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Textual description of the operation days, e.g. "monday to friday" or "not on holidays".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="WeekdayTimePeriodStructure">
		<xs:annotation>
			<xs:documentation>[a specialisation of TIME BAND in TMv6] aggregation of TIME BAND and DAY OF WEEK (Time period on a weekday).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Weekday" type="WeekdayTypeEnumeration" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>[a specialisation of DAY OF WEEK in TMv6] enumeration of individual the seven DAYs OF WEEK, along with public holidays</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>Start time of period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Time duration of period.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="WeekdayTypeEnumeration">
		<xs:annotation>
			<xs:documentation>[a specialisation of DAY OF WEEK in TMv6] enumeration of individual the seven DAYs OF WEEK, along with public holidays </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Sunday"/>
			<xs:enumeration value="Monday"/>
			<xs:enumeration value="Tuesday"/>
			<xs:enumeration value="Wednesday"/>
			<xs:enumeration value="Thursday"/>
			<xs:enumeration value="Friday"/>
			<xs:enumeration value="Saturday"/>
			<xs:enumeration value="PublicHoliday"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>========================================== General Attributes ==========================================</xs:documentation>
	</xs:annotation>
	<xs:complexType name="GeneralAttributeStructure">
		<xs:annotation>
			<xs:documentation>Structured attribute classification with associated text. If URL is given, it refers to the whole attribute text.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Text" type="InternationalTextStructure">
				<xs:annotation>
					<xs:documentation>Text of the attribute to be shown to the user.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>Internal code of the attribute. Can be used for detection of double occurrences.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="AllFacilitiesGroup"/>
			<xs:element name="Mandatory" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines whether the attribute has to be shown to the user.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Importance" type="PercentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Importance of the attribute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="WebLinkGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
