OJP/OJP_Requests.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.vdv.de/ojp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.vdv.de/ojp" elementFormDefault="qualified" attributeFormDefault="unqualified" id="OJP_siri_service">
	<xs:annotation>
		<xs:documentation>OJP/OJP_Requests.xsd - OJP service requests and responses</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.siri.org.uk/siri" schemaLocation="../siri/siri_model/siri_all-v2.0.xsd"/>
	<xs:include schemaLocation="OJP_All.xsd"/>
	<xs:annotation>
		<xs:documentation>========================================== Fare Service ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="OJPFareRequest" type="OJPFareRequestStructure" substitutionGroup="siri:AbstractFunctionalServiceRequest"/>
	<xs:complexType name="OJPFareRequestStructure">
		<xs:complexContent>
			<xs:extension base="AbstractOJPServiceRequestStructure">
				<xs:sequence>
					<xs:group ref="FareRequestGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OJPFareDelivery" type="OJPFareDeliveryStructure" substitutionGroup="siri:AbstractFunctionalServiceDelivery"/>
	<xs:complexType name="OJPFareDeliveryStructure">
		<xs:complexContent>
			<xs:extension base="siri:AbstractServiceDeliveryStructure">
				<xs:sequence>
					<!--					<xs:element ref="OJPFareRequest" minOccurs="0"/> use SIRI RequestMessageRef -->
					<xs:group ref="ServiceResponseContextGroup"/>
					<xs:group ref="FareResponseGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== PlaceInformation Service ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="OJPPlaceInformationRequest" type="OJPPlaceInformationRequestStructure" substitutionGroup="siri:AbstractFunctionalServiceRequest"/>
	<xs:complexType name="OJPPlaceInformationRequestStructure">
		<xs:complexContent>
			<xs:extension base="AbstractOJPServiceRequestStructure">
				<xs:sequence>
					<xs:group ref="PlaceInformationRequestGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OJPPlaceInformationDelivery" type="OJPPlaceInformationDeliveryStructure" substitutionGroup="siri:AbstractFunctionalServiceDelivery"/>
	<xs:complexType name="OJPPlaceInformationDeliveryStructure">
		<xs:complexContent>
			<xs:extension base="siri:AbstractServiceDeliveryStructure">
				<xs:sequence>
					<xs:element ref="OJPPlaceInformationRequest" minOccurs="0"/>
					<xs:group ref="ServiceResponseContextGroup"/>
					<xs:group ref="PlaceInformationResponseGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== ExchangePoints Service ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="OJPExchangePointsRequest" type="OJPExchangePointsRequestStructure" substitutionGroup="siri:AbstractFunctionalServiceRequest"/>
	<xs:complexType name="OJPExchangePointsRequestStructure">
		<xs:complexContent>
			<xs:extension base="AbstractOJPServiceRequestStructure">
				<xs:sequence>
					<xs:group ref="ExchangePointsRequestGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OJPExchangePointsDelivery" type="OJPExchangePointsDeliveryStructure" substitutionGroup="siri:AbstractFunctionalServiceDelivery"/>
	<xs:complexType name="OJPExchangePointsDeliveryStructure">
		<xs:complexContent>
			<xs:extension base="siri:AbstractServiceDeliveryStructure">
				<xs:sequence>
					<xs:element ref="OJPExchangePointsRequest" minOccurs="0"/>
					<xs:group ref="ServiceResponseContextGroup"/>
					<xs:group ref="ExchangePointsResponseGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== StopEvent Service ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="OJPStopEventRequest" type="OJPStopEventRequestStructure" substitutionGroup="siri:AbstractFunctionalServiceRequest"/>
	<xs:complexType name="OJPStopEventRequestStructure">
		<xs:complexContent>
			<xs:extension base="AbstractOJPServiceRequestStructure">
				<xs:sequence>
					<xs:group ref="StopEventRequestGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OJPStopEventDelivery" type="OJPStopEventDeliveryStructure" substitutionGroup="siri:AbstractFunctionalServiceDelivery"/>
	<xs:complexType name="OJPStopEventDeliveryStructure">
		<xs:complexContent>
			<xs:extension base="siri:AbstractServiceDeliveryStructure">
				<xs:sequence>
					<xs:element ref="OJPStopEventRequest" minOccurs="0"/>
					<xs:group ref="ServiceResponseContextGroup"/>
					<xs:group ref="StopEventResponseGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== TripInfo Service ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="OJPTripInfoRequest" type="OJPTripInfoRequestStructure" substitutionGroup="siri:AbstractFunctionalServiceRequest"/>
	<xs:complexType name="OJPTripInfoRequestStructure">
		<xs:complexContent>
			<xs:extension base="AbstractOJPServiceRequestStructure">
				<xs:sequence>
					<xs:group ref="TripInfoRequestGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OJPTripInfoDelivery" type="OJPTripInfoDeliveryStructure" substitutionGroup="siri:AbstractFunctionalServiceDelivery"/>
	<xs:complexType name="OJPTripInfoDeliveryStructure">
		<xs:complexContent>
			<xs:extension base="siri:AbstractServiceDeliveryStructure">
				<xs:sequence>
					<xs:element ref="OJPTripInfoRequest" minOccurs="0"/>
					<xs:group ref="ServiceResponseContextGroup"/>
					<xs:group ref="TripInfoResponseGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== Trip Service ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="OJPTripRequest" type="OJPTripRequestStructure" substitutionGroup="siri:AbstractFunctionalServiceRequest"/>
	<xs:complexType name="OJPTripRequestStructure">
		<xs:complexContent>
			<xs:extension base="AbstractOJPServiceRequestStructure">
				<xs:sequence>
					<xs:group ref="TripRequestGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OJPTripDelivery" type="OJPTripDeliveryStructure" substitutionGroup="siri:AbstractFunctionalServiceDelivery"/>
	<xs:complexType name="OJPTripDeliveryStructure">
		<xs:complexContent>
			<xs:extension base="siri:AbstractServiceDeliveryStructure">
				<xs:sequence>
					<xs:element ref="OJPTripRequest" minOccurs="0"/>
					<xs:group ref="ServiceResponseContextGroup"/>
					<xs:group ref="TripResponseGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== MultiPointTrip Service ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="OJPMultiPointTripRequest" type="OJPMultiPointTripRequestStructure" substitutionGroup="siri:AbstractFunctionalServiceRequest"/>
	<xs:complexType name="OJPMultiPointTripRequestStructure">
		<xs:complexContent>
			<xs:extension base="AbstractOJPServiceRequestStructure">
				<xs:sequence>
					<xs:group ref="MultiPointTripRequestGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OJPMultiPointTripDelivery" type="OJPMultiPointTripDeliveryStructure" substitutionGroup="siri:AbstractFunctionalServiceDelivery"/>
	<xs:complexType name="OJPMultiPointTripDeliveryStructure">
		<xs:complexContent>
			<xs:extension base="siri:AbstractServiceDeliveryStructure">
				<xs:sequence>
					<xs:element ref="OJPMultiPointTripRequest" minOccurs="0"/>
					<xs:group ref="ServiceResponseContextGroup"/>
					<xs:group ref="MultiPointTripResponseGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>========================================== TripRefine Service ==========================================</xs:documentation>
	</xs:annotation>
	<xs:element name="OJPTripRefineRequest" type="OJPTripRefineRequestStructure" substitutionGroup="siri:AbstractFunctionalServiceRequest"/>
	<xs:complexType name="OJPTripRefineRequestStructure">
		<xs:complexContent>
			<xs:extension base="AbstractOJPServiceRequestStructure">
				<xs:sequence>
					<xs:group ref="TripRefineRequestGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OJPTripRefineDelivery" type="OJPTripRefineDeliveryStructure" substitutionGroup="siri:AbstractFunctionalServiceDelivery"/>
	<xs:complexType name="OJPTripRefineDeliveryStructure">
		<xs:complexContent>
			<xs:extension base="siri:AbstractServiceDeliveryStructure">
				<xs:sequence>
					<xs:element ref="OJPTripRefineRequest" minOccurs="0"/>
					<xs:group ref="ServiceResponseContextGroup"/>
					<xs:group ref="TripRefineResponseGroup"/>
					<xs:element ref="siri:Extensions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
