OJP_Locations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) von Katarzyna Piwonska (HaCon Ingenieurgesellschaft mbH) bearbeitet -->
<!-- edited with XMLSpy v2015 rel. 3 sp1 (x64) (http://www.altova.com) by Jutta Schmedding (Mentz Datenverarbeitung GmbH) -->
<xs:schema xmlns="http://www.vdv.de/ojp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.vdv.de/ojp" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- ===Dependencies ======================================= -->
	<xs:import namespace="http://www.siri.org.uk/siri" schemaLocation="./siri_model/siri_modes-v1.1.xsd"/>
	<!-- ===========================================================================================================-->
	<xs:include schemaLocation="OJP_Common.xsd"/>
	<xs:include schemaLocation="OJP_LocationSupport.xsd"/>
	<xs:annotation>
		<xs:documentation>FUNCTION 1: Location Identification</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>FUNCTION 2: Object Information</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>FUNCTION 3: Geographical Context</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>FUNCTION 4: Coordinate to Address</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>All functions integrated into one request / response</xs:documentation>
	</xs:annotation>
	<xs:element name="LocationInformationRequest" type="LocationInformationRequestStructure"/>
	<xs:group name="LocationInformationRequestGroup">
		<xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>A location information request either consists of an initial request for locations (by name and/or coordinates, with restrictions), or of an follow up request in which a location object is further refined.</xs:documentation>
				</xs:annotation>
				<xs:element name="InitialInput" type="InitialLocationInputStructure">
					<xs:annotation>
						<xs:documentation>Initial input for the location information request. This input defines what is originally looked for.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PlaceRef" type="PlaceRefStructure">
					<xs:annotation>
						<xs:documentation>Location for further refinement. If a location in a previous response was marked as not "complete" it can be refined by putting it here.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Restrictions" type="PlaceParamStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>E.g. location types (stops, addresses, POIs) or specific location attributes</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="LocationInformationRequestStructure">
		<xs:sequence>
			<xs:group ref="LocationInformationRequestGroup"/>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LocationInformationResponse" type="LocationInformationResponseStructure"/>
	<xs:group name="LocationInformationResponseGroup">
		<xs:sequence>
			<xs:element name="ContinueAt" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If the response returns less results than expected, the value of skip can be used in a follow-up request to get further results. It tells the server to skip the given number of results in its response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Location" type="PlaceResultStructure" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="LocationInformationResponseStructure">
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="LocationInformationResponseGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Additional declarations</xs:documentation>
	</xs:annotation>
	<xs:complexType name="InitialLocationInputStructure">
		<xs:sequence>
			<xs:element name="LocationName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the location object which is looked after. This is usually the user's input. If not given, the name of the resulting location objects is not relevant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeoPosition" type="siri:LocationStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Coordinate where to look for locations. If given, the result should prefer location objects near to this GeoPosition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeoRestriction" type="GeoRestrictionsStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Restricts the resulting location objects to the given geographical area.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlaceParamStructure">
		<xs:sequence>
			<xs:group ref="PlaceDataFilterGroup"/>
			<xs:group ref="PlacePolicyGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeoRestrictionsStructure">
		<xs:choice>
			<xs:element name="Circle" type="GeoCircleStructure"/>
			<xs:element name="Rectangle" type="GeoRectangleStructure"/>
			<xs:element name="Area" type="GeoAreaStructure">
				<xs:annotation>
					<xs:documentation>Area is defined by a polyline</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GeoCircleStructure">
		<xs:sequence>
			<xs:element name="Center" type="siri:LocationStructure"/>
			<xs:element name="Radius" type="siri:DistanceType">
				<xs:annotation>
					<xs:documentation>Radius in metres.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeoRectangleStructure">
		<xs:sequence>
			<xs:element name="UpperLeft" type="siri:LocationStructure"/>
			<xs:element name="LowerRight" type="siri:LocationStructure"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeoAreaStructure">
		<xs:annotation>
			<xs:documentation> [specialisation of ZONE in TMv6] a LINK SEQUENCE (one-dimensional) forming the boundary of a ZONE
	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PolylinePoint" type="siri:LocationStructure" minOccurs="3" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlaceResultStructure">
		<xs:sequence>
			<xs:element name="Location" type="PlaceStructure"/>
			<xs:element name="Complete" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>States whether the included location is complete or needs further refinement. Only complete locations are fully resolved and can be used in e.g. trip requests. Incomplete locations have to be refined entering them once again into a LocationInformationRequest.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Probability" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Probability, that this result is the one meant by the user's input. Value should be between 0 and 1.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Mode" type="ModeStructure" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="PlacePolicyGroup">
		<xs:sequence>
			<xs:element name="Language" type="xs:language" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preferred language in which to return text values.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfResults" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="ContinueAt" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tells the server to skip the mentioned number of results in its response. Can be used in a follow-up request to get further results. The value is usually taken from the previous response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncludePtModes" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tells the service to include the available public transport modes at returned stops.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="PlaceDataFilterGroup">
		<xs:sequence>
			<xs:element name="Type" type="PlaceTypeEnumeration" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Allowed location object types. If none is given, all types are allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Usage" type="PlaceUsageEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines, whether location objects for origin, via, or destination are searched.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PtModes" type="PtModeFilterStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowed public transport modes. Defines, which public transport modes must be available at the returned location objects. Applies only to stops.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorFilter" type="OperatorFilterStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filter for locations that are operated by certain organisations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TopographicPlaceRef" type="TopographicPlaceRefStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>If at least one is set, only location objects within the given localities are allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PointOfInterestFilter" type="PointOfInterestFilterStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filter to narrow down POI searches.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:simpleType name="PlaceTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="stop"/>
			<xs:enumeration value="address"/>
			<xs:enumeration value="poi"/>
			<xs:enumeration value="coord"/>
			<xs:enumeration value="topographicPlace"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PlaceUsageEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="origin"/>
			<xs:enumeration value="via"/>
			<xs:enumeration value="destination"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>===== Exchange point request ===============================================</xs:documentation>
	</xs:annotation>
	<xs:element name="ExchangePointsRequest" type="ExchangePointsRequestStructure"/>
	<xs:group name="ExchangePointsRequestGroup">
		<xs:sequence>
			<xs:element name="PlaceRef" type="PlaceRefStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location for which exchange points to other "neighbour" systems are to be searched. This location is usually the origin/destination of a passenger journey. May be omitted if all exchange points shall be returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Params" type="ExchangePointsParamStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>E.g. location types (stops, addresses, POIs) or specific location attributes</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ExchangePointsRequestStructure">
		<xs:sequence>
			<xs:group ref="ExchangePointsRequestGroup"/>
			<xs:element name="Extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExchangePointsParamStructure">
		<xs:sequence>
			<xs:group ref="ExchangePointsDataFilterGroup"/>
			<xs:group ref="ExchangePointsPolicyGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="ExchangePointsDataFilterGroup">
		<xs:sequence>
			<xs:element name="Type" type="PlaceTypeEnumeration" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Allowed location object types. If none is given, all types are allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Usage" type="PlaceUsageEnumeration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines, whether the location object of this request acts as origin, via or destination point of the passenger journey.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PtModes" type="PtModeFilterStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowed public transport modes. Defines, which public transport modes must be available at the returned location objects. Applies only to stops.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorFilter" type="OperatorFilterStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filter for locations that are operated by certain organisations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TopographicPlaceRef" type="TopographicPlaceRefStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>If at least one is set, only location objects within the given localities are allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationSystem" type="siri:ParticipantRefStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference to system in which the destination (or origin) of the passenger is located.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdjacentSystem" type="siri:ParticipantRefStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>One or more adjacent systems to which the exchange points should be retrieved.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="ExchangePointsPolicyGroup">
		<xs:sequence>
			<xs:element name="Language" type="xs:language" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preferred language in which to return text values.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfResults" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="ContinueAt" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tells the server to skip the mentioned number of results in its response. Can be used in a follow-up request to get further results. The value is usually taken from the previous response.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:element name="ExchangePointsResponse" type="ExchangePointsResponseStructure"/>
	<xs:group name="ExchangePointsResponseGroup">
		<xs:sequence>
			<xs:element name="ContinueAt" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If the response returns less results than expected, the value of skip can be used in a follow-up request to get further results. It tells the server to skip the given number of results in its response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Place" type="ExchangePointsResultStructure" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ExchangePointsResponseStructure">
		<xs:sequence>
			<xs:element name="ErrorMessage" type="ErrorMessageStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="ExchangePointsResponseGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExchangePointsResultStructure">
		<xs:sequence>
			<xs:element name="Place" type="PlaceStructure">
				<xs:annotation>
					<xs:documentation>Place object that describes this exchange point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelDurationEstimate" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rough estimate of the travel duration from the specified location to this exchange point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BorderPoint" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flag if this exchange point is an administrative border point where timetables are cut off while services still may run through and connect the regions. At this kind of points passengers may continue their journey within the same service. Default is FALSE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mode" type="ModeStructure" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of transport modes that call at this location object. This list should only be filled in case of stop points or stop places – and only when explicitly requested.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
